* {
    background-color: white;
}

#main-container {
    text-align: center;
    margin: auto;
}

li{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 0;
}

a:visited {
    text-decoration: none;
}

.title {
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
    font-weight: bold;
}

#submit {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

#input {
    width: 200px;
    border-radius: 5px;
}

li {
    font-family: 'Playfair Display', serif;
}
